<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My City</title>
    </head>
    <body>
        <h1 align="center"><font color="red"><b>SAVEETHA ENGINEERING COLLEGE</b></font></h1>
        <h3 align="center"><font color="blue"><b>BALA R (22001925)</b></font></h3>
        <center>
        <img src="/static/image/maplayout.jpg" usemap="#MyCity" height="600" width="1200">
        <map name="MyCity">
        <area shape="circle" coords="1150,10,90" href="/static/html/one.html" title="Girls Hostel">
        <area shape="circle" coords="700,305,165" href="/static/html/two.html" title="Round Block">
        <area shape="circle" coords="395,330,53" href="/static/html/three.html" title="Rectangular Block">
        <area shape="circle" coords="800,10,50" href="/static/html/four.html" title="Boys Hostel">
        <area shape="circle" coords="395,530,60" href="/static/html/five.html" title="Food Court">
        </map>
        </center>
    </body>
</html>
